@media(max-width: 1400px){
    #main-banner-leyenda{
        width: 60%;
        left: 20%;
    }
}
@media(max-width: 1200px){
    #main-banner-leyenda{
        width: 80%;
        left: 10%;
        padding: 20px;
    }
    #main-banner {
        margin-top: 0;
    }
    #valores .col{
        flex-basis: calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
        margin-bottom: 10px;
    }
    #cursos .row .row{
        flex-direction: column;
    }
    #conferencia .col{
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media(max-width: 1000px){
    #main-banner-leyenda{
        width: 100%;
        position: static;
    }
    #circulos-contenedor{
        display: none;
    }
    #logo {
        width: 150px;
    }
    .menu-main li a {
        padding: 30px 10px;
    }
    #eventos .col{
        flex-basis: 50%;
        max-width: 50%;
    }
    #colaboradores .col{
        max-width: 50%;
        flex-basis: 50%;
    }
    .texto-columnas{
        columns: 3;
    }
}
@media(max-width: 800px){
    #header-content {
        flex-direction: column;
        align-items: center;
    }
    .menu-main li a {
        padding: 10px 10px;
    }
    #logo{
        padding-bottom: 0;
        background-color: transparent;
    }
    #main-header{
        background-color: var(--color-blanco);
    }
    .mega-texto{
        font-size: 48px;
        line-height: 40px;
    }
    #noticias .row{
        flex-direction: column;
    }
    #empresa .row{
        flex-direction: column;
    }
    #empresa{
        padding-top: 90px;
    }
    #valores .col{
        flex-basis: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    #cursos .col{
        flex-basis: 100%;
        max-width: 100%;
    }
    #videos .col{
        max-width: 100%;
        flex-basis: 100%;
    }
    .texto-columnas{
        columns: 2;
    }
}

@media(max-width: 600px){
    .menu-main li a {
        padding: 10px 5px;
        font-size: 0.9em;
    }
    #eventos .col {
        flex-basis: 100%;
        max-width: 100%;
    }
    #valores .col{
        flex-basis: calc(100% - 10px);
        max-width: calc(100% - 10px);
    }
    .conferencia-leyenda {
        width: calc(100% - 30px);
        box-sizing: border-box;
    }
    #colaboradores .col{
        max-width: 100%;
        flex-basis: 100%;
    }
    .texto-columnas{
        columns: 1;
    }
}